body {
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}

/* ##### Header ##### */

header {
    width: 100%;
    height: 600px;
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.header-container {
    padding: 70px 50px;
}
.header-text {
    width: 60%;
    height: auto;
    display: inline-block;
    color: #fff;
    margin-left: 50px;
}
.header-text h1 {
    font-size: 42px;
    font-weight: bold;
}
.header-text-button {
    margin-top: 80px;
}

.header-image {
    float: right;
    margin-right: 100px;
} .get-it-on {
    margin-top: 15px;
}

.img-ui {
    animation: ui 3s ease-in-out infinite;
}


/* ##### What we do Section ##### */

.doing {
    width: 100%;
    height: 390px;
    padding: 70px 0 50px 0;
} .strip {
    width: 50px;
    height: 2px;
    margin: auto;
    border-radius: 2px;
    background-color: #34495e;
}
.doing h2 {
    text-align: center;
    color: #34495e;
    margin-top: 20px;
    font-size: 30px;
}
.doing p {
    text-align: center;
    color: #44576b;
    font-size: 19px;
    margin: 0 30px 60px 30px;
}



/* ##### Our App Section ##### */
.our-app {
    width: 100%;
    height: 570px;
    background: #4e54c8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 40px;
}
.strip-white {
    width: 50px;
    height: 2px;
    margin: auto;
    border-radius: 2px;
    background-color: #fff;
}
.our-app h2 {
    text-align: center;
    color: #fff;
    margin-top: 20px;
    font-size: 30px;
}

/* ------ */

.our-app .feature-container {
    margin: 70px 100px;
}

.jadwal-kajian-feature {
    width: 40%;
    height: 200px;
    display: inline-block;
    float: left;
    margin-right: 30px;
    animation: ui 4s ease-in-out infinite;
}

.jadwal-kajian-feature-info {
    width: 40%;
    height: auto;
    display: inline-block;
    padding-top: 120px;
}

.jadwal-kajian-feature-info h1 {
    font-size: 35px;
    color: white;
}
.jadwal-kajian-feature-info p {
    font-size: 19px;
    color: white;
}





































/* ######## Animation for UI Mockup in header ####### */

@keyframes ui {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-25px);
    }
    100% {
        transform: translateY(0px);
    }
    
}