body {
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}

/* ##### Header ##### */

header {
    width: 100%;
    height: 600px;
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.header-container {
    padding: 70px 50px;
}
.header-text {
    width: 60%;
    height: auto;
    display: inline-block;
    color: #fff;
    margin-left: 50px;
}
.header-text h1 {
    font-size: 42px;
    font-weight: bold;
}
.header-text-button {
    margin-top: 80px;
}

.header-image {
    float: right;
    margin-right: 100px;
} .get-it-on {
    margin-top: 15px;
}

.img-ui {
    animation: ui 3s ease-in-out infinite;
}


/* ##### What we do Section ##### */

.doing {
    width: 100%;
    height: 390px;
    padding: 70px 0 50px 0;
} .strip {
    width: 50px;
    height: 2px;
    margin: auto;
    border-radius: 2px;
    background-color: #3498db;
}
.doing h2 {
    text-align: center;
    color: #34495e;
    margin-top: 20px;
    font-size: 30px;
}
.doing p {
    text-align: center;
    color: #44576b;
    font-size: 19px;
    margin: 0 30px 60px 30px;
}



/* ##### Our App Section ##### */

.our-app {
    width: 100%;
    height: 570px;
    background: #4e54c8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 40px;
}
.strip-white {
    width: 50px;
    height: 2px;
    margin: auto;
    border-radius: 2px;
    background-color: #fff;
}
.our-app h2 {
    text-align: center;
    color: #fff;
    margin-top: 20px;
    font-size: 30px;
}

/* ------ */

.our-app .feature-container {
    margin: 70px 100px;
}

.jadwal-kajian-feature {
    width: 40%;
    height: 200px;
    display: inline-block;
    float: left;
    margin-right: 30px;
    animation: ui 4s ease-in-out infinite;
}

.jadwal-kajian-feature-info {
    width: 40%;
    height: auto;
    display: inline-block;
    padding-top: 120px;
}

.jadwal-kajian-feature-info h1 {
    font-size: 35px;
    color: white;
}
.jadwal-kajian-feature-info p {
    font-size: 19px;
    color: white;
}


/* ##### Live Feature Section ##### */

.live-feature {
    width: 100%;
    height: 400px;
    background-color: white;
}

.live-feature-container {
    margin: 40px 150px;
}

.live {
    width: 40%;
    height: 200px;
    display: inline-block;
    margin-top: 120px;
}

.live-img {
    width: 30%;
    height: auto;
    display: inline-block;
    float: right;
    margin-top: -100px;
}

/* ---- */

.live h1 {
    font-size: 35px;
    color: #34495e;
} .live p {
    font-size: 19px;
    color: #34495e;
}




/* ##### Video Feature Section ##### */

.video-feature {
    width: 100%;
    height: 400px;
     
}

.video-feature-container {
    margin: 40px 150px;
}

.video {
    width: 40%;
    height: 200px;
    display: inline-block;
    margin-top: 120px;
}

.video-img {
    width: 40%;
    height: auto;
    display: inline-block;
    float: left;
    margin-top: 40px;
}

/* ---- */

.video h1 {
    font-size: 35px;
    color: #34495e;
} .video p {
    font-size: 19px;
    color: #34495e;
}


/* ------ */

.get-our-app {
    background-color: #3498db;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 50px;
    color: white;
}



/* ########## Vide Section #########  */

.new-video {
    width: 100%;
    height: auto;
    background-color: #eaeaea;
    margin-top: 160px;
    padding-top: 50px;
    padding-bottom: 250px;
}

.new-video h1 {
    font-size: 28px;
    color: #34495e;
    text-align: center;
}

.new-video-container {
    margin: 5px 100px;
}

/* card */

.card {
    width: 300px;
    background-color: white;
    border-radius: 5px;
    display: inline-block;
    margin: 20px;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(97,97,97,0.38);
-moz-box-shadow: 0px 0px 10px 0px rgba(97,97,97,0.38);
box-shadow: 0px 0px 10px 0px rgba(97,97,97,0.38);
}
.card:hover {
    -webkit-box-shadow: 0px 0px 18px 0px rgba(97,97,97,0.38);
-moz-box-shadow: 0px 0px 18px 0px rgba(97,97,97,0.38);
box-shadow: 0px 0px 18px 0px rgba(97,97,97,0.38);
}
.card-image > img {
    width: 100%;
}
.card-title {
    padding: 10px 20px;
}
.card-title > a {
    font-size: 16px;
    color: #111111;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 500;
} .card-title > a:hover {
    color: #353535;
}

/* -- btn explore video -- */

.btn-explore-video {
    background-color: #3498db;
    padding: 13px 35px;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
}




/* ########### FOOTER ############ */

.footer {
    width: 100%;
    height: 300px;
    background-color: #c667ec;
    margin-top: -100px;
    
}

.footer p {
    text-align: center;
    padding-top: 200px;
    font-size: 25px;
    color: #fff;
}

.donasi {
    width: 80%;
    height: 180px;
    margin: auto;
    margin-top: -380px;
    background-color: #34495e;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(97,97,97,0.38);
    -moz-box-shadow: 0px 0px 18px 0px rgba(97,97,97,0.38);
    box-shadow: 0px 0px 18px 0px rgba(97,97,97,0.38);
}

.donasi h2 {
    color: white;
    font-weight: 400;
    padding: 80px 100px;
}

/* --- btn donasi --- */

.btn-donasi {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #fff;
    padding: 13px 45px;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    float: right;
    margin: -140px 100px;
}

.btn-donasi:hover {
    background-color: #fff;
    color: #323232;
    transition: 0.5s;
}




























/* ######## Animation for UI Mockup in header ####### */

@keyframes ui {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-25px);
    }
    100% {
        transform: translateY(0px);
    }
    
}